
<!DOCTYPE html >

<link href="extern.html" rel="import" />
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/stylev1.6.css') }}">
<script src="https://kit.fontawesome.com/9772f3f43d.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static',filename='js/functions.js') }}"></script>

<html class="index">
  <head>
    <meta charset="utf-8"/>
    <title>Arabic Dictionary</title>
    <link rel="icon" type="image/x-icon" href="../static/images/bookv2.png">
  </head>

  <div class="topnav" id="Topnav">
    <button href="javascript:void(0);" class="icon" onclick="reverseDiv('options')">
      <i class="fa fa-bars"></i>
    </button>
  <form class="topnav" style="display:none" id="options" method="post">
    <button href="#home" name="home" class="active">Home</button>
    <button href="#news" name="quiz_page">Quiz</button>
    <button href="#contact" name="chart_page">Charts</button>
    </form>
  </div>

    <form class="pure-form" method="post">
      <fieldset>
        <legend>DICTIONARY</legend>
        <input type="text" id="text-src" name="word1" placeholder="Search..." />
        <button
          class="pure-button pure-button-primary"
          autocomplete="off" name="searchword">Search by Word</button>
          <button class="pure-button pure-button-primary"
          autocomplete="off" name="searchcat">Search by Category</button>
          <!-- <button id="cat" class="pure-button" name="cleartxt">Clear</button> -->
      </fieldset>
    </form>
    <br> <br>
    <p class="line-1 anim-typewriter">
    Welcome to my Arabic dictionary!
    </p>

    <p class="other-part">
    This dictionary is specifically designed for the introductory Arabic sequence at Northwestern University, which teaches the Levantine dialect.
    It is developed based on in-class material and lessons from <a href="https://arabiyyatalnaas.com/">عربيّة الناس</a> and is updated frequently in order to stay up to date on class materials. <br> <br>

    Search by words or phrases (i.e. student, thank you), or by categories (i.e. countries, colors). <!--See a list of categories here.--> <br> <br>

    This project is still under development. Feel free to contact me with any questions and/or corrections. <br> <br>
    
    Thank you for visiting! <br> <br>

    - Catherine Tawadros <br>
      (كاثرين تَواضروس)
  </p>
  </body>

<div class="contacts">
  <a href="mailto: catherinetawadros2025@u.northwestern.edu"><i class="fa-solid fa-envelope"></i></a>
  <a href="https://github.com/catherine-tawadros"><i class="fa-brands fa-github"></i></a>
  <a href="https://www.linkedin.com/in/catherine-tawadros-6ab641211/"><i class="fa-brands fa-linkedin"></i></a>
  <a href="tel:16319428781"><i class="fa-solid fa-phone"></i></a>
</div>

</html>