<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/stylev1.36.css') }}">

<html class="quiz">
<head>
    <meta charset="utf-8">
    <title>Arabic Dictionary</title>
    <link rel="icon" type="image/x-icon" href="../static/images/bookv2.png">
</head>

<body>
    <p>
		<!-- your (pl.) (m.) -->
    </p>
    <p>
		الشَّرَفاي
    </p>
</body>

<form class="pure-form" method="post">
    <input type="text" id="user-ans" name="user-ans" />

<script type="text/javascript">
    function showDiv(toggle){
    document.getElementById(toggle).style.display = 'block';
    }
</script>
    
<input type="button" name="answer" onclick="showDiv('toggle')" value="show"></input>
    
    <div id="toggle" style="display:none">
		the pleasure is mine
    </div>
</form>

<form class="pure-form" method="post">
    <button name="quiz">Next Word</button>
    <button name="home">Home</button>
</form>

</html>
