<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/stylev1.6.css') }}">
                    <script src="{{ url_for('static',filename='js/functions.js') }}"></script>
                    <script src="https://kit.fontawesome.com/9772f3f43d.js" crossorigin="anonymous"></script>
                    <head><meta charset="utf-8"><title>Search Result</title>
                    <link rel="icon" type="image/x-icon" href="../static/images/bookv2.png"></head>
                    <html class="charts"><div class="topnav" id="Topnav">
                    <button href="javascript:void(0);" class="icon" onclick="reverseDiv('options')">
                    <i class="fa fa-bars"></i></button>
                    <form class="topnav" style="display:none" id="options" method="post">
                    <button href="#home" name="home">Home</button>
                    <button href="#news" name="quiz_page">Quiz</button>
                    <button href="#contact" name="chart_page" class="active">Charts</button>
                    </form></div><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ENGLISH</th>
      <th>ARABIC</th>
      <th>ROOT</th>
      <th>CATEGORY</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>he did</td>
      <td>فَعَلَ</td>
      <td></td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>1</th>
      <td>they studied (m.) (2)</td>
      <td>دَرَسا</td>
      <td>د-ر-س</td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>2</th>
      <td>she studied</td>
      <td>دَرَسَت</td>
      <td>د-ر-س</td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>3</th>
      <td>she was</td>
      <td>كانَتْ</td>
      <td></td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>4</th>
      <td>he was</td>
      <td>كانَ</td>
      <td></td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>5</th>
      <td>I was</td>
      <td>كُنْتُ</td>
      <td></td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>6</th>
      <td>I slept</td>
      <td>نِمْتُ</td>
      <td></td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>7</th>
      <td>I said</td>
      <td>قُلْتُ</td>
      <td></td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>8</th>
      <td>we were</td>
      <td>كُنّا</td>
      <td></td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>9</th>
      <td>I did not</td>
      <td>ما فَعَلْتُ</td>
      <td></td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>10</th>
      <td>they were</td>
      <td>كانوا</td>
      <td></td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>11</th>
      <td>they studied (m.) (pl.)</td>
      <td>دَرَسوا</td>
      <td>د-ر-س</td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>12</th>
      <td>they studied (f.) (pl.)</td>
      <td>دَرَسنَ</td>
      <td>د-ر-س</td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>13</th>
      <td>you (m.) were</td>
      <td>كُنْتَ</td>
      <td></td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>14</th>
      <td>they studied (f.) (2)</td>
      <td>دَرَسَتا</td>
      <td>د-ر-س</td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>15</th>
      <td>he arrived</td>
      <td>وَصَلَ</td>
      <td></td>
      <td>verbs, travel, past tense</td>
    </tr>
    <tr>
      <th>16</th>
      <td>he ate</td>
      <td>أَكَلَ</td>
      <td></td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>17</th>
      <td>he learned</td>
      <td>تَعَلَّمَ</td>
      <td>ع-ل-م</td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>18</th>
      <td>he lived</td>
      <td>سَكَنَ</td>
      <td></td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>19</th>
      <td>he went (formal)</td>
      <td>ذَهَبَ</td>
      <td></td>
      <td>verbs, travel, past tense</td>
    </tr>
    <tr>
      <th>20</th>
      <td>he said</td>
      <td>قالَ</td>
      <td></td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>21</th>
      <td>he slept</td>
      <td>نامَ</td>
      <td></td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>22</th>
      <td>he speaks</td>
      <td>بيحكي</td>
      <td></td>
      <td>verbs, travel, past tense</td>
    </tr>
    <tr>
      <th>23</th>
      <td>he studied</td>
      <td>دَرَسَ</td>
      <td>د-ر-س</td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>24</th>
      <td>you (f.) were</td>
      <td>كُنْتِ</td>
      <td></td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>25</th>
      <td>he went (dialect)</td>
      <td>راحَ</td>
      <td></td>
      <td>verbs, travel, past tense</td>
    </tr>
    <tr>
      <th>26</th>
      <td>you studied (m.)</td>
      <td>دَرَستَ</td>
      <td>د-ر-س</td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>27</th>
      <td>you studied (2)</td>
      <td>دَرَستُما</td>
      <td>د-ر-س</td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>28</th>
      <td>you studied (f.)</td>
      <td>دَرَست</td>
      <td>د-ر-س</td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>29</th>
      <td>you studied (m.) (pl.)</td>
      <td>دَرَستُم</td>
      <td>د-ر-س</td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>30</th>
      <td>you studied (f.) (pl.)</td>
      <td>دَرَستُنَّ</td>
      <td>د-ر-س</td>
      <td>verbs, past tense</td>
    </tr>
    <tr>
      <th>31</th>
      <td>you (pl.) were</td>
      <td>كُنْتُم</td>
      <td></td>
      <td>verbs, past tense</td>
    </tr>
  </tbody>
</table>